<div class="container">
  <main class="main-content">
    <div class="content-parent">
      <div class="content-child">
          <input id="code" class="neon-input" type="text" placeholder="Enter code.">
          <button class="neon-button-1" type="submit">JOIN</button>
      </div>
      <div class="content-child">
        <button class="neon-button-big" type="submit">Create Game</button>
      </div>
      <div class="content-child">
        <button class="neon-button-big" type="submit">Create Local Game</button>
      </div>
    </div>
  </main>
</div>