.neon-button-1 {
    margin-left: 1rem;
    font-size: 3rem;
    color: var(--clr-purple);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 2em;
    font-weight: lighter;

    background-color: transparent;
    border: var(--clr-purple) 0.125em solid;
    border-radius: 0.25em;

    text-shadow:
        0 0 1em hsl(0 0% 30% / 0.4),
        0 0 0.45em currentColor;

    box-shadow:
        0 0 0.5em 0 var(--clr-purple);

    position: relative;

    transition:
        background-color 100ms linear;
}

.neon-button-1::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;

    box-shadow: 0 0 1em 0.15em var(--clr-purple);
    opacity: 0;
    z-index: -1;

    transition: opacity 100ms linear;
}

.neon-button-1:focus {
    outline: 0;
}

.neon-button-1:hover,
.neon-button-1:focus {
    background: rgba(213, 75, 255, 0.8);
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button-1:hover::after,
.neon-button-1:focus::after {
    opacity: 1;
}